.banner{
  max-width: 1440px;
  margin: 0 auto;
}
.container {
  max-width: 721px;
  margin: 0 auto;
  padding: 0 2rem;

  display: flex;
  flex-direction: column;

  h1 {
    margin-top: 5rem;
    font-size: 3rem;
    font-weight: bold;
    line-height: 3.625rem;
    color: var(--gray-100);
  }
}

.info {
  margin-top: 1.5rem;

  display: flex;
  align-items: flex-start;

  font-size: 1rem;
  line-height: 1rem;
  font-weight: normal;
  color: var(--gray-300);

  svg {
    margin-right: 0.5rem;
  }

  span {
    margin-left: 1.5rem;
  }
}

.post {
  max-width: 720;
  margin: 0 auto;
}

.content {
  margin-bottom: 2rem;

  div {
    margin-top: 1rem;
  }

}
